<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DRIP </title>
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
</head>
</head>
<body>
    <div>
        
        <div class="home-container">
        <a href=Add_Product >
          <button type="button" class="home-button Heading button" action = '/Add_Product' >+</button>
        </a>

        <a href=wardrobe >
          <button type="button" class="home-button2 Heading button" action = '/Add_Product' >=</button>
        </a>

          <div class="home-container1">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Eo_circle_green_letter-d.svg"
              alt="image"
              class="home-image"
            />
            <span class="home-text">
              <span>your wardrobe at your fingertips...</span>
              <br />
              <br />
            </span>
            <h1 class="home-text4">RIP</h1>
          </div>
        </div>
      </div>
</body>
</html>